body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
  background-image: url("../images/squiggle.svg");
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
}

/*divs*/
.main-container {
  background-color: #FAFAFA;
  box-shadow: 0 0 8px #A3A5AE;
  border-radius: 1%;
  height: 100%;
  width: 90%;
  margin: auto;
}

.inner-container {
  display: inline-block;
  vertical-align: middle;
}

.supervisor {
  background-color: #FFFFFF;
  border-color: #45D3D3;
  border-style: solid none none none;
  border-radius: 2%;
  box-shadow: 0 0 4px #A3A5AE;
  height: 200px;
  width: 375px;
  margin: 40px;
  display: inline-block;
  vertical-align: middle;
}

.team-builder {
  background-color: #FFFFFF;
  border-color: #EA5353;
  border-style: solid none none none;
  border-radius: 2%;
  box-shadow: 0 0 4px #A3A5AE;
  height: 200px;
  width: 375px;
  margin: 40px;
}

.karma {
  background-color: #FFFFFF;
  border-color: #FCAF4A;
  border-style: solid none none none;
  border-radius: 2%;
  box-shadow: 0 0 4px #A3A5AE;
  height: 200px;
  width: 375px;
  margin: 40px;
}

.calculator {
  background-color: #FFFFFF;
  border-color: #549EF2;
  border-style: solid none none none;
  border-radius: 2%;
  box-shadow: 0 0 4px #A3A5AE;
  height: 200px;
  width: 375px;
  margin: 40px;
  display: inline-block;
  vertical-align: middle;
}

/*a, h1, h2, h3, p, span*/
a {
  color: #3E52A3;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  color: #A3A5AE;
  font-weight: 100;
  font-size: 2rem;
  padding: 50px 0 0 0;
  margin: 2.75rem 0 0 0;
}

h2 {
  color: #4C4E61;
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}

h3 {
  color: #4C4E61;
}

p {
  color: #A3A5AE;
}

.block-title {
  margin: 0;
  padding: 20px 0 0 25px;
  text-align: left;
}

.block-text {
  margin: 0;
  padding: 0 0 0 25px;
  width: 300px;
  text-align: left;
}

.overview-text {
  width: 35%;
  margin: 25px auto 40px auto;
}

.attribution {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  margin: 20px 0 0 0;
}

/*images*/
.block-img {
  padding: 25px 0 0 0;
  margin-left: 250px;
}
